@model ScreenShotHtml2Canvas.Controllers.HomeController.ImageModel
@{
    ViewBag.Title = "Home Page";
}
<script>
    $(document).ready(function () {
        $('#btnCapture').on("click", function () {
            captureAndUpload();
        });

        $('#btnDisplay').on("click", function () {
            captureAndDisplay();
        });
        var uploadedimage = '';
        function captureAndUpload() {
            $('body').html2canvas({
                onrendered: function (canvas) {
                    var uploadedimage = canvas.toDataURL("image/png");
                    $('#ImageData').val(uploadedimage);
                    document.getElementById("form").submit();

                }
            });

        }

        function captureAndDisplay() {
            $('body').html2canvas({
                onrendered: function (canvas) {
                    var uploadedimage = canvas.toDataURL("image/png");
                    window.open(uploadedimage);
                }
            });

        }
    });
</script>
@using (Html.BeginForm("ScreenShot", "Home", FormMethod.Post, new { @id = "form" }))
{
    <div class="designPane">

        <p>
            Some text that would be captured as screenshot
        </p>
    </div>
    <div class="space">
    </div>

    @Html.HiddenFor(model => model.ImageData)
    <div>
        <input type="button" id="btnCapture" value="Capture" />
        <input type="button" id="btnDisplay" value="View Image" />
    </div>

}